.circle-container {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: 0.1rem solid MediumSlateBlue;
    width: fit-content;
    margin: 1rem 1rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.circle-container.checked {
    text-decoration: line-through;
    text-decoration-color: MediumSlateBlue;
}

.circle {
    height: 1rem; 
    width: 1rem; 
    background: white;        
    border-radius: 50%;
    border: 0.2rem solid MediumSlateBlue;
    cursor: pointer;
    margin-right: 1rem;
}
.circle:hover {
    box-shadow: 0 0 0.3rem MediumSlateBlue;
}

.circle-container.checked .circle {
    background: MediumSlateBlue;
}